<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>1005232388379-ksktc9hahmaba22g730h1u9qgi1jr1vs.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.1005232388379-ksktc9hahmaba22g730h1u9qgi1jr1vs</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>1005232388379-secs5s1bg6bo0vlebumr1hrqkp1n5h4j.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyDG8CAt0Qc4mwkZl2LHAbzVPnnmgs-bpoU</string>
	<key>GCM_SENDER_ID</key>
	<string>1005232388379</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.zadip.medapp</string>
	<key>PROJECT_ID</key>
	<string>kafyapp-5e3b3</string>
	<key>STORAGE_BUCKET</key>
	<string>kafyapp-5e3b3.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:1005232388379:ios:aa01a2d3b5c9e2f0</string>
	<key>DATABASE_URL</key>
	<string>https://kafyapp-5e3b3.firebaseio.com</string>
</dict>
</plist>